* {
  margin: 0;
  padding: 0;
}

:root {
  --blueColor: #0077c5;
}

body {
  background-color: #eceef1;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica,
    Arial sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style: none;
}

main,
footer {
  margin: auto;
}

main {
  display: block;
  flex-direction: column;
  margin-top: 2.5em;
  width: 20em;
}

footer {
  position: absolute;
  bottom: 3.5em;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #505050;
}

footer a {
  margin-left: 0.5em;
  color: #505050;
}

.blueColorBG {
  background-color: var(--blueColor);
}

.blueColor {
  color: var(--blueColor);
}

.flexBox {
  display: flex;
}

header {
  margin-top: 1em;
  justify-content: end;
  align-items: center;
  font-size: 0.8em;
  color: #505050;
}

.signIn {
  margin-left: 0.5em;
  margin-right: 2em;
  border-radius: 0.3em;
  border: 0.01em solid #4d4f51bb;
  color: white;
  font-size: 1.1em;
  height: 2.4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.logosMiddleTop {
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  font-weight: normal;
}

.logosMiddleTop li {
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  align-items: center;
}

.intuitIng {
  width: 3.5em;
}

.appIcons {
  width: 1.5em;
  margin-top: 0.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  filter: brightness(1.2);
}

.text {
  font-size: 1.1em;
  color: #505050b9;
}

.fiedsetOne {
  background-color: white;
  height: 35em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  width: 21.5em;
}
input {
  width: 22em;
  height: 1.8em;
}
